/* the ARC logo at the top left of every page*/
.bugLogo {
  height: 7vw;
  width: auto;
}

body,
#root,
html {
  margin: 0;
  padding: 0;
  color: black;
  font: "Lato", sans-serif;
  height: 100%;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*Styling for the About.js page*/
.aboutPage {
  height: 100%;
  margin: 0;
}

/*styling the text in Contact.js, About.js page*/
.descrip-1 {
  color: rgb(88, 87, 87);
  font-size: 1.5vw;
  background-color: #fff;
  text-align: center;
  padding: 3.3vw;
}

/* styling the text in AboutUs.js, About.js page*/
.descrip-2 {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  font-size: 1.5vw;
  padding: 5%;
}

/*styling the text in About.js page*/
.descrip-3 {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-size: 1.5vw;
  padding: 3.3vw;
}

.descrip-4 {
  color: #fff;
  background-image: url("/images/reviews.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}

.descrip-5 {
  color: #282e34;
  background-color: #ddd;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}

/* styling for text in the About Us page */
.descrip-6 {
  color: rgb(88, 87, 87);
  font-size: 1.5vw;
  background-color: #fff;
  text-align: center;
  padding-bottom: 4.6vw;
}

/*Styling used for About Us page - team member intro*/
.descrip-7 {
  background-image: url("/images/phone.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3.3vw;
  text-align: center;
}
.descrip-8 {
  background-image: url("/images/laptop.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.4vw;
  padding: 3.3vw;
  text-align: justify;
}
.FAQsection {
  width: 50%;
  padding: 2.6vw;
  border-bottom: solid 0.06vw #ccc;
}

/* styling the div that hold the contact info of ARC - Contact.js*/
.descrip-9 {
  background-image: url("/images/phone2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.4vw;
  padding: 5%;
  text-align: justify;
}

/*Styling for keyword container in BugFix.js*/
.descrip-10 {
  color: #fff;
  background-image: url("/images/laptop3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}

/*Styling for keyword container in BugFix.js*/
.descrip-11 {
  color: #fff;
  background-color: #434950;
  font-size: 1.5vw;
  padding: 0.5vw;
  font-weight: 700;
}

.descrip-14 {
  color: #fff;
  background-image: url("/images/phone3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5vw;
  padding: 0.5vw;
  font-weight: 700;
}
#DescripBtn {
  color: #fff;
  font-weight: 700;
  border: #fff 0.1vw solid;
  font-size: 1vw;
  text-transform: uppercase;
  padding: 0.6vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
}
#DescripBtn:hover {
  border: #fff 0.1vw solid;
  background-color: #434950;
}

.searchDescripBtn {
  color: #fff;
  background-color: #bd9b77;
  font-weight: 700;
  border: #fff 0.1vw solid;
  font-size: 1vw;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  padding: 0.6vw;
}
.bugKeywordBtn {
  color: #fff;
  background-color: #da808a;
  font-weight: 700;
  border: #fff 0.1vw solid;
  font-size: 1vw;
  text-transform: uppercase;
  border-radius: 0.4vw;
  width: fit-content;
  padding: 0.5vw;
}
.frKeywordBtn {
  color: #282e34;
  background-color: #fff;
  font-weight: 700;
  border: #fff 0.1vw solid;
  font-size: 1vw;
  text-transform: uppercase;
  border-radius: 0.4vw;
  width: fit-content;
  padding: 0.5vw;
}
.individualKeywordBtn {
  color: #282e34;
  background-color: inherit;
  border: inherit 0.1vw solid;
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.4vw;
  width: fit-content;
  padding: 0.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
}
.remainingKeywordBtn {
  color: #282e34;
  background-color: #fff;
  border: inherit 0.1vw solid;
  font-size: 1vw;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.4vw;
  width: fit-content;
  padding: 0.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
}

.mx-3 {
  color: #fff;
  background-color: #434950;
  font-weight: 700;
  border: #fff 0.1vw solid;
  font-size: 1vw;
  text-transform: uppercase;
}
.mx-3:hover {
  border: #fff 0.1vw solid;
  background-color: #da808a;
}


.descrip-17 {
  color: #282e34;
  background-color: #898d92be;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}

.descrip-15 {
  color: #fff;
  background-image: url("/images/remaining.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}
.descrip-16 {
  color: #282e34;
  background-image: url("/images/remaining1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}

/*Styling for keyword container in BugFix.js*/
.descrip-12 {
  color: #434950;
  background-image: url("/images/laptop1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}
.mx-4 {
  color: #fff;
  background-color: #434950;
  font-weight: 700;
  border: #fff 0.1vw solid;
  font-size: 1vw;
  text-transform: uppercase;
}
.mx-4:hover {
  border: #434950 0.1vw solid;
  background-color: #fff;
  color: #434950;
}
.descrip-button {
  color: #434950;
  background-color: #fff;
  font-weight: 700;
  border: #fff 0.1vw solid;
  font-size: 1vw;
  text-transform: uppercase;
  padding: 0.6vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
}
.descrip-button:hover {
  border: #fff 0.1vw solid;
  background-color: #434950;
}

.descrip-13 {
  color: #fff;
  background-color: #434950;
  font-size: 1.5vw;
  padding: 3.3vw;
  font-weight: 700;
}

/*the three background images used for the parallax effect*/
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11,
.bgimg-12,
.bgimg-13,
.bgimg-14,
.bgimg-15,
.bgimg-16,
.bgimg-17,
.bgimg-18,
.bgimg-19,
.bgimg-20 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* This is first background image of the About.js page*/
.bgimg-1 {
  min-height: 46.6vw;
  opacity: 0.9;
  background-image: url("/images/img_parallax4.jpg");
}

/* This is second background image of the About.js page*/
.bgimg-2 {
  min-height: 46.6vw;
  opacity: 09;
  background-image: url("/images/img_parallax.jpg");
}

/* This is third background image of the About.js page*/
.bgimg-3 {
  min-height: 46.6vw;
  opacity: 0.9;
  background-image: url("/images/img_parallax2.jpg");
}

/* This is fourth background image of the About.js page*/
.bgimg-4 {
  min-height: 46.6vw;
  opacity: 0.9;
  background-image: url("/images/img_parallax3.jpg");
}
.bgimg-5 {
  min-height: 53.3vw;
  background-image: url("/images/reviews.jpg");
}
.bgimg-6 {
  min-height: 53.3vw;
  background-image: url("/images/laptop6.jpg");
}

/* This is first background image of the About Us page*/
.bgimg-7 {
  min-height: 53.3vw;
  background-image: url("/images/team.jpg");
}

/* This is the second background image of the About Us page*/
.bgimg-8 {
  min-height: 46.6vw;
  background-image: url("/images/laptop5.jpg");
}

/* This is the third background image of the About Us page*/
.bgimg-9 {
  min-height: 20vw;
  background-image: url("/images/phone.jpg");
}
.bgimg-10 {
  min-height: 53.3vw;
  background-image: url("/images/support1.jpeg");
}
.bgimg-11 {
  min-height: 26.6vw;
  background-image: url("/images/laptop.jpg");
}
/* This is the first background image of the Contact.js page*/
.bgimg-12 {
  min-height: 53.3vw;
  background-image: url("/images/phone1.jpg");
}

/* This is the second background image of the Contact.js page*/
.bgimg-13 {
  min-height: 23.3vw;
  background-image: url("/images/phone2.jpg");
}

/* This is the background image of the BugFix.js page*/
.bgimg-14 {
  min-height: 53.3vw;
  background-image: url("/images/laptop3.jpg");
}

/* This is the background image of the FeatureRequest.js page*/
.bgimg-15 {
  min-height: 53.3vw;
  background-image: url("/images/laptop1.jpg");
}
.bgimg-16 {
  min-height: 53.3vw;
  background-image: url("/images/laptop7.jpg");
}
.bgimg-17 {
  min-height: 53.3vw;
  background-image: url("/images/onereview.jpg");
}
.bgimg-18 {
  min-height: 25vw;
  background-image: url("/images/phone3.jpg");
}
.bgimg-19 {
  min-height: 53.3vw;
  background-image: url("/images/remaining.jpg");
}
.bgimg-20 {
  min-height: 53.3vw;
  background-image: url("/images/remaining1.jpg");
}
/* Float four columns side by side */
.columnCard {
  float: left;
  width: 33%;
  padding: 0 0.6vw;
}

/* Remove extra left and right margins, due to padding */
.rowCard {
  margin: 0 -0.3vw;
}

/* Clear floats after the columns */
.rowCard:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 40vw) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 1.3vw;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 0.2vw 0.5vw 0 rgba(0, 0, 0, 0.2);
  padding: 2vw;
  text-align: center;
  background-color: #f1f1f1;
  align-items: center;
  width: 85%;
}

/* Styling for the heading text */
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

/* Styling for the heading text */
.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 1.2vw;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 0.4vw;
}

/*styling for all the h3 heading*/
h3 {
  letter-spacing: 0.3vw;
  text-transform: uppercase;
  font: 1.3vw "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1020.2vw) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10,
  .bgimg-11,
  .bgimg-12,
  .bgimg-13,
  .bgimg-14,
  .bgimg-15,
  .bgimg-16,
  .bgimg-17,
  .bgimg-18,
  .bgimg-19,
  .bgimg-20 {
    /* background-attachment: scroll; */
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*this is for the related review page*/
.star {
  display: inline-block;
  padding: 0.2vw;
  vertical-align: middle;
  line-height: 1vw;
  font-size: 2vw;
  color: #ababab;
  transition: color 0.2s ease-out;
}
.sentiment_box {
  color: rgba(31, 28, 28, 0.89);
}

/*the main navigation bar*/
#navigation_bar {
  background-color: inherit;
  z-index: 2;
  height: 100%;
  padding: 0vw;
  height: 0vw;
}

/*Burger menu bar*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 2.4vw;
  height: 2vw;
  right: 2.4vw;
  top: 2.4vw;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 20.2vw;
  width: 20.2vw;
}

.menu-item {
  letter-spacing: 0.1vw;
  text-transform: uppercase;
  font: "Lato", sans-serif;
  font-weight: 900;
  color: #111;
  padding: 2vw;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
*/
.bm-menu-wrap {
  background-color: #1c2431;
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: url(#menugradient);
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 1.3vw;
  font-weight: 700;
  padding-bottom: 0.6vw;
  text-decoration: none;
  color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.11);
}

/* the search button styling when not clicked*/
.button {
  border: none;
  color: white;
  font-size: 1.3vw;
  font-weight: 500;
  padding-bottom: 1.2vw;
  background: inherit;
}

/* the search bar styling on hover*/
.button:hover {
  border: none;
  background: inherit;
  font-weight: 900;
  font-size: 1.4vw;
  color: #fff;
}
/*syling for the HomePage.js - whihc is the video part of the searchapps.js*/

/*the video will be inside this container */
.introBox {
  padding-right: 0vw;
  padding-left: 0vw;
  position: relative;
}

/*Setting the video container to fit the browser window*/
.video-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-right: 0vw;
  padding-left: 0vw;
  overflow: hidden;
  z-index: 0;
}

/* width of video will expand through the browser window*/
#homeVideo{
  width: 100%;
}

/* This is the background video of the LoadingBox.js */
#loadingvideo{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
/* this is the main heading - we analyse mobile app reviews*/
.content {
  position: absolute;
  width: 100%;
  top: 25%;
  margin: auto;
  z-index: 1;
  font-weight: 900;
  font-size: 3.1vw;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.3vw;
  font-family: "Lato";
  color: #fff;
  text-shadow: 0.2vw 0.2vw black;
}

#header p {
  padding: 0.6vw;
  margin: auto;
}

/*the search bar is placed inside this container*/
.searchBar {
  width: 55%;
  padding: 0.6vw;
  margin: auto;
  margin-top: 3.3vw;
  position: relative;
  display: flex;
  font-size: 2.6vw;
  color: #fff;
  border: none;
}

/*the input of the search bar is styled here*/
.searchInputGroup {
  width: 100%;
  height: 4.6vw;
  text-align: center;
  border-radius: 6.6vw;
  border: solid 0.3vw white;
  cursor: pointer;
}

#searchPlaceholder::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* the placeholder of the search bar is styled here*/

#searchPlaceholder {
  width: 70%;
  border-radius: 6.6vw;
  background: inherit;
  border: none;
  padding-bottom: 1.2vw;
  height: 120%;
  font-size: 1.2vw;
  font-weight: 900;
  color: white;
}

/* when the search bar is clicked on to type something*/
 #searchPlaceholder:focus {
  color: white;
  background: inherit;
} 


/*the button that allows you to scroll to About.js*/
.scrollArrow {
  width: 10%;
  height: 60%;
  margin: auto;
}

/*the arrow image is style here*/
.scrollArrow img {
  width: 100%;
  height: 70%;
}
/*--------------------- Begin: Error Page----------------------*/
.error_div {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}
.error_crash_bg {
  background-color: #004688;
  width: 100%;
  height: 75%;
}

.error_content_headings {
  margin-top: 8%;
}
.go_back_button_group {
  margin: 0 auto;
  width: 50%;
}
.go_back_button_group button {
  margin: auto;
  margin-top: 8%;
  display: block;
}
/*--------------------- End: Error Page----------------------*/

/*--------------------- Begin: Main Menu Page----------------------*/
.MenuBoxPage {
  width: 50%;
  margin-top: 5%;
  float: left;
}
.MenuBoxContainer {
  margin: auto;
  float: left;
  padding: 3.3vw;
}
.MenuBoxContainer a {
  color: transparent !important;
}
.menuIntro {
  margin: auto;
  float: left;
  color: rgb(88, 87, 87);
  font-size: 3vh;
  text-align: center;
  padding: 1.3vw;
}
/*--------------------- End: Main Menu Page----------------------*/

.p-4 {
  color: rgb(88, 87, 87);
  font-size: 2.5vh;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  text-decoration: none;
}

.p-4:hover {
  text-decoration: none;
  background-color: rgb(88, 87, 87);
  color: #fff;
}
/*--------------------- Begin: Loading Page----------------------*/
/*LoadingBox.js - ANALYSING... text container*/
.loadingContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  z-index: 1;
}

/*LoadingBox.js - ANALYSING... text styling*/
.loader {
  position: absolute;
  top: 40%;
  margin: auto;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5em;
  padding: 0.6vw;
  z-index: 1;
}

/*LoadingBox.js - ANALYSING...colour of normal text*/
.loader span {
  color: #fff;
  mix-blend-mode: difference;
}

/*LoadingBox.js - ANALYSING...colour of box*/
.loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 13.3vw;
  height: 100%;
  background: #000;
  animation: animate 5s linear infinite;
}

/*LoadingBox.js - ANALYSING... animation*/
@keyframes animate {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 13.3vw);
  }
  100% {
    left: 0;
  }
}

/*LoadingBox.js - Adding sub text that will change every 30 seconds */
.loadingText:before {
  content: "";
  animation: animate1 30s infinite;
}
@keyframes animate1 {
  0% {
    content: "We are going through all the reviews.";
  }
  20% {
    content: "This will take a moment.";
  }
  40% {
    content: "Please be patient as we analyse the reviews.";
  }
  60% {
    content: "This may take a while.";
  }
  100% {
    content: "We are going through all the reviews.";
  }
}
/*--------------------- End: Loading Page----------------------*/


/*--------------------- Begin: Team members Info----------------------*/
/* Styling for a column containing a team member card - AboutUs.js*/
.columnTeam {
  float: left;
  width: 33.3%;
  margin-bottom: 1.06vw;
  padding: 0 4vw;
}

/*Making the team member card responsive*/
@media screen and (max-width: 63.3vw) {
  .columnTeam {
    width: 100%;
    display: block;
  }
}

/*Styling for a card that holds the team member info*/
.cardTeam {
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  font-family: "Lato", sans-serif;
  color: rgb(88, 87, 87);
  background-color: #fff;
  align-content: center;
  align-items: center;
  padding-bottom: 2.6vw;
}

/*div to hold the name and github link*/
.containerTeam {
  padding: 0 1.3vw;
}

/*styling the team member name*/
.nameTeam {
  padding-top: 2.6vw;
  font-weight: 600;
}

.containerTeam::after,
.rowTeam::after {
  content: "";
  clear: both;
  display: table;
}

/*styling for github links for each team member*/
.githubLinks {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

/*styling changes when you hover over the github links*/
.githubLinks:hover {
  font-weight: 900;
  color: #004688;
}

/*div that holds the team member image*/
.imageContainer {
  padding-top: 2.6vw;
  padding-left: 18%;
}

/*Safiyyah Rahman Image*/
.imageTeam {
  width: 17.8vw;
  height: 13.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/safiyyah.jpg");
}

/*Safiyyah Rahman image changes to show member role*/
.imageTeam:hover {
  background-image: url("/images/safiyyah1.png");
}

/*Christina Thambirajah Image*/
.imageTeam1 {
  width: 17.8vw;
  height: 13.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/christina.jpg");
}

/*Christina Thambirajah image changes to show member role*/
.imageTeam1:hover {
  background-image: url("/images/christina1.png");
}

/*Sajani Sihara Image*/
.imageTeam2 {
  width: 17.8vw;
  height: 13.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/sajani.jpg");
}

/*Sajani Sihara image changes to show member role*/
.imageTeam2:hover {
  background-image: url("/images/sajani1.png");
}

/*Ridmi Amasha Image*/
.imageTeam3 {
  width: 17.8vw;
  height: 13.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/ridmi.png");
}

/*Ridmi Amasha image changes to show member role*/
.imageTeam3:hover {
  background-image: url("/images/ridmi1.png");
}

/*Aarthif Nawaz Image*/
.imageTeam4 {
  width: 17.7vw;
  height: 13.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/aarthif.jpg");
}

/*Aarthif Nawaz image changes to show member role*/
.imageTeam4:hover {
  background-image: url("/images/aarthif1.png");
}

/*Shiromi Thevarajan Image*/
.imageTeam5 {
  width: 17.8vw;
  height: 13.3vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/shiromi.jpg");
}

/*Shiromi Thevarajan image changes to show member role*/
.imageTeam5:hover {
  background-image: url("/images/shiromi1.png");
}
/*--------------------- End: Team members Info----------------------*/

.commentInput {
  border: none;
  border-bottom: solid 0.1vw #ccc;
  padding-bottom: 0.6vw;
  border-radius: 0vw;
  font-size: 1.3vw;
  color: #282e34;
  font-weight: 600;
  width: 35%;
}
.commentInput:active {
  border: none;
}
.commentSubmit {
  width: 20%;
  margin-top: 0.6vw;
  color: #fff;
  font-weight: 600;
  background-color: #282e34;
  border: none;
  width: 15%;
  border-radius:1.5vw;
}
.commentSubmit:hover {
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
}
/* =======================BUG FIX=========== */
.center-content {
  margin: 0 auto;
  width: 60%;
}
.sentimentBox {
  padding-top: 15%;
  padding-left: 10%;
  font-family: "Lato" sans-serif;
}
.sentimentInfo {
  font-size: 1vw;
  font-weight: 500;
}
.searchBox {
  padding-top: 1vw;
  padding-left: 20vw;
  font-family: "Lato" sans-serif;
}
.remainingReview {
  font-size: 1.6vw;
  font-weight: 500;
  width: 70%;
}
.reviewBox {
  float: left;
  width: 100%;
  height: auto;
  padding: 1.5vw;
  margin-left: 5%;
  margin-top: 3%;
  margin-bottom: 2vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
}

.reviewText {
  color: #282e34;
  text-align: justify;
  padding-top: 1vw;
}
.RemainingReviewText {
  font-size: 2.5vh;
  text-align: justify;
  padding-top: 1vw;
}

.searchAppsImages {
  border-radius: 0.6vw;
  width: 5vw;
  height: 5vw;
  box-shadow: 0 0.2vw 0.5vw 0 rgba(12, 10, 10, 0.897);
}
#backBtn{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}