/* the ARC logo at the top left of every page*/
.bugLogo {
  height: 7vw;
  width: auto;
}

body,
#root,
html {
  margin: 0;
  padding: 0;
  color: black;
  font: "Lato", sans-serif;
  height: 100%;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
/*Styling for the About.js page*/
.aboutPage {
  height: 100%;
  margin: 0;
}
/*descrip-1, descrip-2 and descrip-3 are the text written in the search for apps page*/
.descrip-1 {
  color: rgb(88, 87, 87);
  font-size: 23px;
  background-color: #fff;
  text-align: center;
  padding: 50px;
}

.descrip-2 {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  font-size: 23px;
  padding: 5%;
}
.descrip-3 {
  color: #000;
  background-color: #fff;
  text-align: center;
  font-size: 23px;
  padding: 50px;
}

.descrip-4 {
  color: #fff;
  background-image: url("/images/reviews.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 23px;
  padding: 50px;
  font-weight: 700;
}

.descrip-5 {
  color: #282e34;
  background-color: #ddd;
  font-size: 23px;
  padding: 50px;
  font-weight: 700;
}

.descrip-6 {
  color: rgb(88, 87, 87);
  font-size: 23px;
  background-color: #fff;
  text-align: center;
  padding-bottom: 70px;
}

.descrip-7 {
  background-image: url("/images/coffee1.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  text-align: center;
}
.descrip-8 {
  background-image: url("/images/laptop.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 21px;
  padding: 50px;
  text-align: justify;
}
.FAQsection {
  width: 50%;
  padding: 40px;
  border-bottom: solid 1px #ccc;
}
.descrip-9 {
  background-image: url("/images/support1.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 21px;
  padding: 5%;
  text-align: justify;
}
.descrip-10 {
  color: #fff;
  background-image: url("/images/laptop3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 23px;
  padding: 50px;
  font-weight: 700;
}
.mx-2{
  color: #fff;
  background-color: #da808a;
  font-weight: 700;
  border: #fff 2px solid;
  font-size: 15px;
  text-transform: uppercase;
}
.mx-2:hover{
  border: #fff 2px solid;
  background-color: #434950;
}
.mx-3{
  color: #fff;
  background-color: #434950;
  font-weight: 700;
  border: #fff 2px solid;
  font-size: 15px;
  text-transform: uppercase;
}
.mx-3:hover{
  border: #fff 2px solid;
  background-color: #da808a;
}
.descrip-11 {
  color: #fff;
  background-color: #434950;
  font-size: 23px;
  padding: 50px;
  font-weight: 700;
   
}

.descrip-12 {
  color: #fff;
  background-image: url("/images/laptop6.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 23px;
  padding: 50px;
  font-weight: 700;
}
.mx-4{
  color: #fff;
  background-color: #434950;
  font-weight: 700;
  border: #fff 2px solid;
  font-size: 15px;
  text-transform: uppercase;
}
.mx-4:hover{
  border: #434950 2px solid;
  background-color: #fff;
  color: #434950;
}
.mx-5{
  color: #434950;
  background-color: #fff;
  font-weight: 700;
  border: #fff 2px solid;
  font-size: 15px;
  text-transform: uppercase;
}
.mx-5:hover{
  border: #fff 2px solid;
  background-color: #434950;
}
.descrip-13 {
  color: #fff;
  background-color: #434950;
  font-size: 23px;
  padding: 50px;
  font-weight: 700;
   
}
/*the three background images used for the parallax effect*/
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6,
.bgimg-7,
.bgimg-8,
.bgimg-9,
.bgimg-10,
.bgimg-11,
.bgimg-12,
.bgimg-13,
.bgimg-14,
.bgimg-15  {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  min-height: 700px;
  opacity: 0.9;
  background-image: url("/images/img_parallax4.jpg");
}

.bgimg-2 {
  min-height: 700px;
  opacity: 09;
  background-image: url("/images/img_parallax.jpg");
}

.bgimg-3 {
  min-height: 700px;
  opacity: 0.9;
  background-image: url("/images/img_parallax2.jpg");
}
.bgimg-4 {
  min-height: 700px;
  opacity: 0.9;
  background-image: url("/images/img_parallax3.jpg");
}
.bgimg-5 {
  min-height: 800px;
  background-image: url("/images/reviews.jpg");
}
.bgimg-6 {
  min-height: 800px;
  background-image: url("/images/laptop1.jpg");
}
.bgimg-7 {
  min-height: 800px;
  background-image: url("/images/team.jpg");
}
.bgimg-8 {
  min-height: 700px;
  background-image: url("/images/team3.jpg");
}
.bgimg-9 {
  min-height: 300px;
  background-image: url("/images/coffee1.jpg");
}
.bgimg-10 {
  min-height: 800px;
  background-image: url("/images/support1.jpeg");
}
.bgimg-11 {
  min-height: 400px;
  background-image: url("/images/laptop.jpg");
}
.bgimg-12 {
  min-height: 800px;
  background-image: url("/images/contact1.jpg");
}
.bgimg-13 {
  min-height: 250px;
  background-image: url("/images/support1.png");
}
.bgimg-14 {
  min-height: 800px;
  background-image: url("/images/laptop3.jpg");
}
.bgimg-15 {
  min-height: 800px;
  background-image: url("/images/laptop6.jpg");
}
/* Float four columns side by side */
.columnCard {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.rowCard {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.rowCard:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
  align-items: center;
  width: 85%;
}

/*styling for the heading text - emphasis on the features of ARC*/
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 2vw;
  font-weight: 700;
  letter-spacing: 7px;
}

/*all the h3 heading in the about.js section are style here*/
h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3,
  .bgimg-4,
  .bgimg-5,
  .bgimg-6,
  .bgimg-7,
  .bgimg-8,
  .bgimg-9,
  .bgimg-10 {
    /* background-attachment: scroll; */
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*this is for the related review page*/
.star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ababab;
  transition: color 0.2s ease-out;
}
.sentiment_box {
  color: rgba(31, 28, 28, 0.89);
}

/*the main navigation bar*/
.navbar {
  background-color: inherit;
  z-index: 1;
  height: 100%;
  padding: 0px;
  height: 0px;
}
.navbar-brand {
  margin-right: 0px;
  height: auto;
  width: auto;
}

/*Burger menu bar*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.menu-item {
  letter-spacing: 2px;
  text-transform: uppercase;
  font: "Lato", sans-serif;
  font-weight: 900;
  color: #111;
  padding: 30px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
*/
.bm-menu-wrap {
  background-color: #1c2431;
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  padding: 2.5em 1.5em 0;
  font-size: 1.5em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: url(#menugradient);
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.11);
}

/* the search button styling when not clicked*/
.button {
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 18px;
  background: inherit;
}

/* the search bar styling during hover*/
.button:hover {
  border: none;
  background: inherit;
  font-weight: 900;
  font-size: 22px;
  color: #fff;
}
/*syling for the HomePage.js - whihc is the video part of the searchapps.js*/

/*the video will be inside this container */
.introBox {
  padding-right: 0px;
  padding-left: 0px;
  position: relative;
}

/*Setting the video container to fit the browser window*/
.video-container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
  z-index: 0;
}

/* width of video will exapnd through the browser window*/
video {
  width: 100%;
}

/* this is the main heading - we analyse mobile app reviews*/
.content {
  position: absolute;
  width: 100%;
  top: 25%;
  margin: auto;
  z-index: 1;
  font-weight: 900;
  font-size: 3.1vw;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  font-family: "Lato";
  color: #fff;
  text-shadow: 3px 3px black;
}

#header p {
  padding: 10px;
  margin: auto;
}

/*the search bar is placed inside this container*/
.searchBar {
  width: 55%;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  position: relative;
  display: flex;
  font-size: 40px;
  color: #fff;
  border: none;
}

/*the input of the search bar is styled here*/
.searchInputGroup {
  width: 100%;
  height: 70px;
  text-align: center;
  border-radius: 100px;
  border: solid 5px white;
  cursor: pointer;
}

/*the placeholder of the search bar is styled here*/
.searchPlaceholder {
  width: 70%;
  border-radius: 100px;
  background: inherit;
  border: none;
  padding-bottom: 18px;
  height: 120%;
  outline: none;
  font-size: 1.2vw;
  font-weight: 900;
  color: #fff;
}

/* when the search bar is clicked on to type something*/
.searchPlaceholder:focus {
  color: white;
  background: inherit;
}

/*the button that allows you to scroll to About.js*/
.scrollArrow {
  width: 10%;
  height: 60%;
  margin: auto;
}

/*the arrow image is style here*/
.scrollArrow img {
  width: 100%;
  height: 70%;
}
/*=======ERROR PAGE=======*/
.error_div {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}
.error_crash_bg {
  background-color: #004688;
  width: 100%;
  height: 75%;
}

.error_content_headings {
  margin-top: 8%;
}
.go_back_button_group {
  margin: 0 auto;
  width: 50%;
}
.go_back_button_group button {
  margin: auto;
  margin-top: 8%;
  display: block;
}
.MenuBoxPage {
  /* width: 60%; */
  margin-top: 5%;
  float: left;
}
.MenuBoxContainer {
  margin: auto;
  float: left;
  padding: 50px;
}
.MenuBoxContainer a {
  color: transparent !important;
}
.menuIntro {
  margin: auto;
  float: left;
  padding: 50px;
  color: rgb(88, 87, 87);
  font-size: 2.3vh;
}
.p-4 {
  color: rgb(88, 87, 87);
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
}

.p-4:hover {
  text-decoration: none;
  background-color: rgb(88, 87, 87);
  color: #fff;
}

.loadingContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  z-index: 1;
}

.loader {
  position: absolute;
  top: 40%;
  margin: auto;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5em;
  padding: 10px;
  z-index: 1;
}

/*colour of normal text*/
.loader span {
  color: #fff;
  mix-blend-mode: difference;
}

/*colour of box*/
.loader:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background: #000;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    left: 0;
  }
  50% {
    left: calc(100% - 200px);
  }
  100% {
    left: 0;
  }
}

.loadingText:before {
  content: "";
  animation: animate1 45s infinite;
}
@keyframes animate1 {
  0% {
    content: "We are going through all the reviews.";
  }
  20% {
    content: "This will take a moment.";
  }
  40% {
    content: "Please be patient as we analyse the reviews.";
  }
  60% {
    content: "This may take a while.";
  }
  100% {
    content: "We are going through all the reviews.";
  }
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

.columnTeam {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 60px;
}

@media screen and (max-width: 650px) {
  .columnTeam {
    width: 100%;
    display: block;
  }
}

.cardTeam {
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
  font-family: "Lato", sans-serif;
  color: rgb(88, 87, 87);
  background-color: #fff;
  align-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.containerTeam {
  padding: 0 20px;
}
.nameTeam {
  padding-top: 40px;
  font-weight: 600;
}
.containerTeam::after,
.rowTeam::after {
  content: "";
  clear: both;
  display: table;
}
.githubLinks {
  text-decoration: none;
  color: #000;
  font-weight: 600;
}

.githubLinks:hover {
  font-weight: 900;
  color: #004688;
}
.imageContainer {
  padding-top: 40px;
  padding-left: 18%;
}
.imageTeam {
  width: 267px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/safiyyah.jpg");
}

.imageTeam:hover {
  background-image: url("/images/safiyyah1.png");
}
.imageTeam1 {
  width: 267px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/christina.jpg");
}

.imageTeam1:hover {
  background-image: url("/images/christina1.png");
}

.imageTeam2 {
  width: 266px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/sajani.jpg");
}

.imageTeam2:hover {
  background-image: url("/images/sajani1.png");
}

.imageTeam3 {
  width: 265px;
  height: 199px;
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/ridmi.png");
}

.imageTeam3:hover {
  background-image: url("/images/ridmi1.png");
}

.imageTeam4 {
  width: 266px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/aarthif.jpg");
}

.imageTeam4:hover {
  background-image: url("/images/aarthif1.png");
}

.imageTeam5 {
  width: 266px;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/shiromi.jpg");
}

.imageTeam5:hover {
  background-image: url("/images/shiromi1.png");
}
.commentInput {
  border: none;
  border-bottom: solid 2px #ccc;
  padding-bottom: 10px;
  border-radius: 0px;
  font-size: 20px;
  color: #282e34;
  font-weight: 600;
}
.commentInput:active{
  border: none;
}
.commentSubmit {
  width: 20%;
  margin-top: 10px;
  color: #fff;
  font-weight: 600;
  background-color: #282e34;
  border:none; 
}
.commentSubmit:hover{
  box-shadow: 0 4px 8px 0 rgba(12, 10, 10, 0.897);
}