@font-face {
  font-family: "Proxima";
  src: local("Proxima"), url(./fonts/proxima.ttf) format("truetype");
}
@font-face {
  font-family: "Denver";
  src: local("Denver"), url(./fonts/denver.ttf) format("truetype");
}
@font-face {
  font-family: "Wallington";
  src: local("Wallington"), url(./fonts/wallington.ttf) format("truetype");
}
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.content {
  position: absolute;
  top: 35%;
  left: 14%;
  z-index: 1;
  font-family: Wallington;
  font-weight: 900;
  font-size: 100px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 4px 4px black;
}
.bugLogo {
  height: 130px;
  width: auto;
}
body {
  margin: 0;
  padding: 0;
  font-family: Proxima;
  color: black;
}

.star {
  display: inline-block;
  padding: 3px;
  vertical-align: middle;
  line-height: 1;
  font-size: 1.5em;
  color: #ababab;
  transition: color 0.2s ease-out;
}
.sentiment_box {
  color: white;
}
.navbar {
  background-color: inherit;
  z-index: 1;
  height: 100%;
  padding: 0px;
}
.navbar-brand{
  /* padding:0px; */
  margin-right: 0px;
  
  height: auto;
  width: auto;
}

/*Burger menu bar*/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}
 
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}
 
/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: black;
}
 
/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
 
/* Color/shape of close button cross */
.bm-cross {
  background: white;
}
 
/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}
 
/* General sidebar styles */
.bm-menu {
  background-color: #043b73; 
  background-image: linear-gradient(to bottom right, #000B18, 	#00172D, #00264D, #02386E, #00498D, #0052A2);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}
 
/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
 fill: linear-gradient(to bottom right, #000B18, 	#00172D, #00264D, #02386E, #00498D, #0052A2);
}
 
/* Wrapper for item list */
.bm-item-list {
 
  padding: 0.8em;
}
 
/* Individual item */
.bm-item {
  display: inline-block;
  font-style: Proxima;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
}
 
/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.11);
}

.searchBar{
  width: 900px;
  position: relative;
  display: flex;
  font-family: Proxima;
  font-size: 50px;
  margin-top: 50px;
  left: 15%;
  color: #fff;
  border: none;
}
.searchPlaceholder{
  width: 470px;
  border-radius: 100px;
  background: inherit;
  border: none;
  padding-bottom: 18px;
  height: 70px;
  outline: none;
  font-size: 25px;
  font-weight: 900;
}
.searchPlaceholder:placeholder {
  color: red;
}
.searchPlaceholder:focus{
  color: white;
  background: inherit;
}
.mb-3{
  width: 900px;
  height: 70px;
  text-align: center;
  border-radius: 100px;
  border: solid 5px white;
  cursor: pointer;
  
}
.button{
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 18px;
  background: inherit;
}
.button:hover{
  border: none;
  background: inherit;
  font-weight: 900;
  font-size: 22px;
  color: #fff;
}
